{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">
        <h1 class="titre-responsive">Liste des annonces</h1>

        <table class="table table-responsive">
            <thead class="text-show-responsive-detail">
            <tr>
                {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
                    <th>Id</th>
                {% endif %}
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Date de publication</th>
                <th>publiée par</th>
                {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
                    <th>actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="text-show-responsive-detail">
            {% for annonce in annonces %}
                <tr>
                    {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
                        <td>{{ annonce.id }}</td>
                    {% endif %}
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.contenu|raw }}</td>
                    <td>
                        {% if annonce.vignette == NULL %}
                            <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" class="img-annonce-no">
                        {% else %}
                            <img src="{{asset('assets/images/account/')}}{{ annonce.vignette }}" alt="{{ annonce.vignette }}" class="img-annonce">
                        {% endif %}
                    </td>
                    <td>{{ annonce.dateCreation ? annonce.dateCreation|date('d/m/Y') : '' }}</td>
                    <td>{{ annonce.staff.nom|upper }} {{ annonce.staff.prenom|capitalize }}</td>
                    {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
                        <td>
                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="edit-btn btn-responsive-global">Details</a>
                            <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="edit-btn btn-responsive-global">Modifier</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
            <a href="{{ path('annonce_new') }}" class="edit-btn">Nouvelle annonce</a>
        {% endif %}

        <a href="{{ path('crud_list') }}" class="edit-btn btn-responsive-global ml-0">Menu</a>

    </div>
{% endblock %}
