<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ titre }}</title>
</head>

<body>
<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

</style>

<h1>{{ titre }}</h1>

<h2>Panier du {{ date | date('d/m/Y H:i') }}</h2>
<h2>{{ enregistrement[0].utilisateur.prenom }} {{ enregistrement[0].utilisateur.nom }}</h2>
<table style="border: 1px solid black;border-collapse: collapse;width: 100%;">
    <thead>
    <tr>
        <th scope="col">Titre</th>
        <th scope="col">Genre</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Statut</th>
        <th scope="col">Date de la commande</th>
        <th scope="col">Date de rendu</th>
        <th scope="col">Numéro de commande</th>
        <th scope="col">Prix</th>
    </tr>
    </thead>

    <tbody>
    {% for enr in enregistrement %}
        <tr>
            <td>
                {%  if enr.article.titre is not empty %}
                    {{ enr.article.titre | capitalize }}
                {% else %}
                    {{ enr.article.codeArticle }}
                {% endif %}
            </td>
            <td>
                {{ enr.article.genre.libelle }}
            </td>
            <td>
                {{ enr.article.categorie.libelle }}
            </td>
            <td>
                {{ enr.article.statut.libelle }}
            </td>
            <td>
                {{ enr.dateEnregistrement | date('d/m/Y') }}
            </td>
            <td>
                {{ enr.dateRenduTheorique  | date('d/m/Y') }}
            </td>
            <td>
                {{ enr.noCommande }}
            </td>
            <td>
                {% if enr.typeEnregistrement.libelle == "achat" and enr.article.statut.libelle !="vendu" %}
                    {{ enr.article.MontantVente }} €
                {% elseif enr.typeEnregistrement.libelle == "achat" and enr.article.statut.libelle =="vendu" %}
                    vendu
                {% else %}
                    Gratuit
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
Total : {{ total |number_format(2, ',', ' ')}} €<br>
Total d'article : {{ enregistrement|length}}

<br><br>
Vos demandes d'emprunts et/ou d'achats ont été transférées à un bénévole, vous recevrez un mail quand ils seront prêts pour un retrait.
</body>
</html>

