{% extends "layout.html.twig"  %}
{% block body %}
    <div class="container">
        <span>Ajouter un commentaire</span>
        {{ form_start(form) }}
        <input type="hidden" name="token" value="{{ csrf_token('add_commentaire') }}">
        {{ form_row(form.texte) }}
        <button type="submit" class="edit-btn">{{ action|default('Valider') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}