{% extends "layout.html.twig" %}
{% block body %}
<div class="container cadre">
    <h1 class="titre-responsive">Listes des Tags</h1>

    <table class="table table-responsive">
        <thead class="text-show-responsive-detail">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-show-responsive-detail">
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.libelle }}</td>
                <td>
                    <a href="{{ path('tag_show', {'id': tag.id}) }}" class="edit-btn btn-responsive-global">Détails</a>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="edit-btn btn-responsive-global">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de tags dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_new') }}" class="edit-btn btn-responsive-global">Nouveau tag</a>
    <a href="{{ path('crud_list') }}" class="edit-btn btn-responsive-global ml-0">Menu</a>

</div>
{% endblock %}
