{# Permet de mettre le style de formulaire a toutes les entites ajoutées#}
{% import _self as formMacros %}
{% macro printEntiteSubForm(entite) %}
    <div class="row">
        <div class="col">
            {{ form_row(entite.typeEntite, {'label': 'Type'}) }}
        </div>
        <div class="col">
            {{ form_row(entite.nom) }}
        </div>
        <div class="col">
            {{ form_row(entite.prenom) }}
        </div>
    </div>
{% endmacro %}

<h1>{{ isbn }}</h1>
{# Formulaire #}
{{ form_start(form, {'attr': {'id': 'form_api'}}) }}

{{ form_row(form.gencode) }}

{{ form_row(form.codeArticle) }}

<div style="font-weight: bold; color: red;">
    {% if erreurs.code is defined %}
        {{ erreurs.code}}
    {% endif %}
</div>

{{ form_row(form.categorie) }}

<div class="form-group">
    <hr>
    <h5><span style="color: red">*</span>Titre</h5>
    {% for titre in datas.titres %}
        {% if titre != "" %}
            <input type="radio" name="titre_radio" value="{{ titre }}" required>
            {{ titre }}
            <br>
        {% endif %}
    {% endfor %}
    <input type="radio" name="titre_radio" id="otherRadioBtnTitre" value="" required checked>
    {{ form_widget(form.titre)}}
    <div style="font-weight: bold; color: red;">
        {% if erreurs.titre is defined %}
            {{ erreurs.titre }}
        {% endif %}
    </div>
    <hr>
</div>

<div class="form-group">
    <hr>
    <h5><span style="color: red">*</span>Date de publication</h5>
    {% for date in datas.publications %}
        {% if date is not empty %}
            <input type="radio" name="date_radio" value="{{ date | date("m/d/Y") }}" required>
            {{ date | date("m/d/Y") }}
            <br>
        {% endif %}
    {% endfor %}
    <input type="radio" name="date_radio" id="otherRadioBtnDate" value="" required checked>
    {{ form_widget(form.datePublication, { attr: {novalidate: 'novalidate'}})}}
    <div style="font-weight: bold; color: red;">
        {% if erreurs.dateRadio is defined %}
            {{ erreurs.dateRadio }}
        {% endif %}
    </div>
    <hr>
</div>

<div class="form-group">
    <hr>
    <h5><span style="color: red">*</span>Vignette</h5>
    {% for image in datas.images %}
        {% if image!= "" %}
            <input type="radio" name="image_radio" value="{{ image }}" required>
            <img src="{{ image }}" alt="{{ image }}">
            <br>
        {% endif %}
    {% endfor %}
    <input type="radio" name="image_radio" id="otherRadioBtnImage" value="" required checked>
    {{ form_widget(form.vignette)}}
    <div id="nowImg" style="margin-top: 5vh"></div>
    <div style="font-weight: bold; color: red;">
        {% if erreurs.image is defined %}
            {{ erreurs.image }}
        {% endif %}
    </div>
    <hr>
</div>



{{ form_row(form.description) }}

{{ form_row(form.genre) }}

{{ form_row(form.rubriques) }}

{{ form_row(form.trancheAge) }}

{{ form_label(form.entites) }}
<div class="entites" data-prototype="{{ formMacros.printEntiteSubForm(form.entites.vars.prototype)|e('html_attr') }}">
    {% for entite in form.entites %}
        <div class="entite-subform">{{ formMacros.printEntiteSubForm(entite) }}</div>
    {% endfor %}
</div>
<button type="button" class="add_item_link" data-collection-holder-class="entites">+</button>

<br><hr>
{{ form_row(form.statut) }}
{{ form_row(form.montantObtention) }}
{{ form_row(form.dateObtention) }}
{{ form_row(form.montantCaution) }}
{{ form_row(form.montantVente) }}
{{ form_row(form.observation) }}
{{ form_row(form.numerique) }}

<button class="edit-btn"  onclick="">{{ button_label|default('Appliquer') }}</button>
{{ form_end(form) }}


<script>

    let divTitre = $('#article_api_titre');
    let divDate = $("#article_api_datePublication");
    let divVignette = $("#article_api_vignette");

    divTitre.change(function() {
    let titre = divTitre.val();
    $('#otherRadioBtnTitre').val(titre);
    })

    divDate.on("focusout", function(e) {
      let date = divDate.val();
      $('#otherRadioBtnDate').val(date);
    });

    divVignette.change(function() {


        let div = document.getElementById('nowImg');
        let image = divVignette.val();
        div.innerHTML = "<img src='"+image+"' id='imgShown'/>";
        $('#otherRadioBtnImage').val(image);

        let im = document.getElementById('imgShown'); // or select based on classes
        im.onerror = function(){
            div.innerHTML += "\n Attention l'image à l'air d'être non valide !";
        };


    });

    $( document ).ready(function() {
        let titre = divTitre.val();
        $('#otherRadioBtnTitre').val(titre);
        let date = divDate.val();
        $('#otherRadioBtnDate').val(date);
    });



</script>

<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/article_form.js') }}"></script>
<script src="{{ asset('assets/js/article_form_api.js') }}"></script>