<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/css/responsive_connexion.css') }}" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css?<php echo("time") ?>') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main-menu.css?<php echo("time") ?>') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/page.css?<php echo("time") ?>') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css?<php echo("time") ?>') }}">
</head>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container cadre">
        <h1 class="titre-responsive">Contacter un bénévole</h1>
        {{ form_start(form, { 'attr': { 'class' : 'form-maintenance-responsive' }} ) }}
        {{ form_row(form.nom,  { 'attr': { 'class' : 'form-maintenance-responsive' }}) }}
        {{ form_row(form.prenom,  { 'attr': { 'class' : 'form-maintenance-responsive' }}) }}
        {{ form_row(form.email,  { 'attr': { 'class' : 'form-maintenance-responsive' }}) }}
        {{ form_row(form.contenu,  { 'attr': { 'class' : 'form-maintenance-responsive' }}) }}
        <button class="edit-btn btn-responsive-global">{{ button_label|default('Envoyer') }}</button>
        <a href="{{ refer }}" class="edit-btn btn-responsive-global">Revenir à la page précédente</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
</html>