{% extends "layout.html.twig" %}
{% block body %}
    <div class="container">
        <h1 class="mt-5 titre-responsive">Les emprunts ({{ statut }}) ({{ nbEmprunt |number_format(0, '', ' ') }})</h1>
        <div class="row text-responsive">
            <div class="col-sm">
                <a href="{{ path('gestion_actif_emprunts') }}" class="edit-btn float-left btn-responsive-global">Emprunts Actifs</a>
            </div>
            <div class="col-sm">
                <a href="{{ path('gestion_historique_emprunts') }}" class="edit-btn float-right btn-responsive-global">Tous les emprunts (historiques)</a>
            </div>
        </div>
        {% if emprunts is not empty %}
            <table class="table table-responsive">
                <thead class="text-responsive">
                <tr>
                    <th scope="col">Vignette article</th>
                    <th scope="col">Titre article</th>
                    <th scope="col">Catégorie article</th>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">no Commande</th>
                    <th scope="col">Date d'enregitrement</th>
                    <th scope="col">Date de préparation</th>
                    <th scope="col">Date de rendu</th>
                    <th scope="col">Date de rendu théorique</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody  class="text-responsive">
                {% for emprunt in emprunts %}
                    <tr>
                        <td>
                            {%  if emprunt.article.vignette is not empty %}
                                <img src="{{ emprunt.article.vignette }}" alt="image de {{ emprunt.article.titre }}" class="img-icone">
                            {% else %}
                                <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" class="img-icone-no">
                            {% endif %}
                        </td>
                        <td>
                            {%  if emprunt.article.titre is not empty %}
                                {{ emprunt.article.titre | capitalize }}
                            {% else %}
                                {{ emprunt.article.codeArticle }}
                            {% endif %}
                        </td>
                        <td>
                            {{ emprunt.article.categorie.libelle }}
                        </td>
                        <td>
                            {{ emprunt.utilisateur.nom }} {{ emprunt.utilisateur.prenom }}
                        </td>
                        <td>
                            {{ emprunt.noCommande }}
                        </td>
                        <td>
                            {{ emprunt.dateEnregistrement | date('d/m/Y') }}
                        </td>
                        <td>
                            {{ emprunt.datePreparationFini | date('d/m/Y') }}
                        </td>
                        <td>
                            {{ emprunt.dateRendu | date('d/m/Y') }}
                        </td>
                        <td>
                            {% if emprunt.dateRenduTheorique | date('d/m/Y') <= "now"|date('d/m/Y') %}
                                <span class="text-danger"><b>{{ emprunt.dateRenduTheorique | date('d/m/Y') }}</b></span>
                            {% else %}
                                <span class="text-success">{{ emprunt.dateRenduTheorique | date('d/m/Y') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ emprunt.typeEnregistrement.libelle }}
                        </td>
                        <td>
                            {% if emprunt.statutEnregistrement.libelle =="en attente" %}
                                <a href="{{ path('changer_statut_pret',{id:emprunt.id} ) }}" class="btn edit-btn btn-responsive-global">Prêt</a>
                            {% elseif emprunt.statutEnregistrement.libelle =="pret" %}
                                {% if emprunt.typeEnregistrement.libelle =="emprunt" %}
                                    <a href="{{ path('changer_statut_emprunte',{id:emprunt.id} ) }}" class="btn edit-btn btn-responsive-global">Emprunté</a>
                                {% endif %}
                            {% elseif emprunt.statutEnregistrement.libelle =="emprunte" %}
                                <a href="{{ path('changer_statut_rendu',{id:emprunt.id} ) }}" class="btn edit-btn btn-responsive-global">Rendu</a>
                                <a href="{{ path('changer_statut_perdu',{id:emprunt.id} ) }}" class="btn edit-btn btn-responsive-global">Perdu</a>
                            {% else %}
                                <span>{{ emprunt.statutEnregistrement.libelle }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="col-sm m-2 text-responsive">
                <b>Aucun emprunt ({{ statut }})</b>
            </div>
        {% endif %}
        <hr class="mb-5">
        <div class="pagination">
            {{ knp_pagination_render(emprunts)}}
        </div>
    </div>
{% endblock %}