{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">
    <h1 class="titre-responsive">Liste des nouveautés</h1><br>

        {% if nouveaute is not empty %}
            <div class="row mb-5">
                <table class="table table-responsive">
                    <thead  class="text-show-responsive-detail">
                    <tr>
                        <th scope="col">Vignette</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Consulter</th>
                    </tr>
                    </thead>
                    <tbody class="text-show-responsive-detail">
                    {% for nouv in nouveaute %}
                        <tr>
                            <td>
                                {%  if nouv.vignette is not empty %}
                                    <img src="{{ nouv.vignette }}" alt="image de {{ nouv.titre }}" class="img-nouveaute">
                                {% else %}
                                    <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" class="img-nouveaute-no">
                                {% endif %}
                            </td>
                            <td>
                                {{ nouv.titre | capitalize }}
                            </td>
                            <td>
                                {{ nouv.dateCreation | date('d/m/Y') }}
                            </td>
                            <td class="col-3">
                                <a href="{{ path('article_details', {id: nouv.id}) }}" class="btn edit-btn btn-responsive-global">Voir plus de détails</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-sm m-2">
                <b>Aucune nouveauté trouvée</b>
            </div>
        {% endif %}
        <hr class="mb-5">
        <div class="pagination">
            {{ knp_pagination_render(nouveaute)}}
        </div>
    </div>
{% endblock %}