{% extends "layout.html.twig" %}
{% block body %}
<div class="container cadre">
    <h1 class="text-title-filtre-responsive">Vos favoris ({{ favoris|length }})</h1><hr>
    {% if favoris is not empty %}
        <div class="row justify-content-end">
            <button type="button" class="btn btn-danger btn-responsive-global" data-toggle="modal" data-target="#deleteAllFavoris">
                Vider la liste
            </button>
        </div>

        <div class="modal fade text-responsive" id="deleteAllFavoris" tabindex="-1" role="dialog" aria-labelledby="deleteAllFavorisTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-responsive" id="deleteAllFavorisTitle">Supprimer tous les favoris</h5>
                        <button type="button" class="close btn-responsive-global" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment supprimer tous vos favoris ?
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm">
                            <button type="button" class="btn btn-danger float-right btn-responsive-global" data-dismiss="modal">Non</button>
                        </div>
                        <div class="col-sm">
                            <form action="{{ path('vider_favoris') }}" method="POST" style="display:inline">
                                <input type="hidden" name="token" value="{{ csrf_token('favoris_delete') }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-success float-left btn-responsive-global">Oui</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <table class="table table-responsive">
            <thead class="text-responsive">
                <tr>
                    <th scope="col">Illustration</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Statut</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
        <tbody class="text-responsive">
            {% for fav in favoris %}
                <tr>
                    <td>
                        {%  if fav.article.vignette is not empty %}
                            <img src="{{ fav.article.vignette }}" alt="image de {{ fav.article.titre }}" class="img-icone">
                        {% else %}
                            <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" class="img-icone-no">
                        {% endif %}
                    </td>
                    <td>
                        {%  if fav.article.titre is not empty %}
                            {{ fav.article.titre | capitalize }}
                        {% else %}
                            {{ fav.article.codeArticle }}
                        {% endif %}
                    </td>
                    <td>
                        {{ fav.article.categorie.libelle }}
                    </td>
                    <td>
                        {{ fav.article.genre.libelle }}
                    </td>
                    <td>
                        {{ fav.article.statut.libelle }}
                    </td>
                    <td>
                        {% if fav.article.statut.libelle == "vendable" or fav.article.statut.libelle == "empruntable" %}
                            <a href="{{ path('add_article_panier',{id:fav.article.id, page:"favoris"}) }}" class="btn edit-btn btn-responsive-global">Ajouter au panier</a>
                        {% endif %}
                        <a href="{{ path('article_details', {id: fav.article.id}) }}" class="btn edit-btn btn-responsive-global">Voir plus de détails</a>
                    </td>
                    <td class="align-content-center">
                        <button type="button" class="close p-4 btn-responsive-global" aria-label="Close" data-toggle="modal" data-target="#deleteOneFavori{{ fav.article.id }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>

                    <div class="modal fade text-responsive" id="deleteOneFavori{{ fav.article.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteOneFavori{{ fav.article.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-responsive" id="deleteOneFavori{{ fav.article.id }}Title">Supprimer un article</h5>
                                    <button type="button" class="close btn-responsive-global" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Voulez-vous vraiment supprimer "{{ fav.article.titre | capitalize }}" de vos favoris ?
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-danger float-right btn-responsive-global" data-dismiss="modal">Non</button>
                                    </div>
                                    <div class="col-sm">
                                        <a href="{{ path('remove_favoris', {id: fav.article.id}) }}" class="btn btn-success float-left btn-responsive-global">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
        </tbody>
    </table><hr>
    {% else %}
        <div class="col-sm m-2 text-responsive">
            <b>Vous n'avez pas d'article favori</b>
        </div>
    {% endif %}
</div>
{% endblock %}
